.news {
  height: 293px;
  border-radius: 10px;
  text-align: center;
  /* background: rgb(154, 209, 165); */
  background-image: url("https://images.unsplash.com/photo-1532356884227-66d7c0e9e4c2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-position-y: -150px;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 50px;
}
.newstext {
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 50%; */
  color: #fff;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 25px;
}
.newsheading {
  font-size: 3em;
  font-weight: bold;
  width: 30%;
  text-shadow: rgba(0, 0, 0, 0.5);
}
.newsdesc {
  text-align: left;
  padding-left: 20px;
  font-size: 1.3em;
  width: 70%;
}
