.project {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  background-attachment: fixed;
  background: #262626;
  margin-top: -378px;
}
.projlist {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 120px;
  text-align: left;
  align-items: flex-end;
  display: flex;
}
.project .projlist h2 {
  font-size: 4.5em;
  font-weight: bold;
  color: #fff;
  margin: 10px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}
.projectbutton {
  position: absolute;
  right: 60px;
  bottom: 60px;
  background-color: #fff;
  color: #262626;
}
.projectbuttonlink {
  color: #262626;
  font-weight: bold;
  text-decoration: none;
}
.projectbutton:hover {
  box-shadow: 0 15px 25px rgb(41, 28, 11);
}
.projectbuttonlink:hover {
  color: rgba(252, 176, 69, 1);
}
.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 1200px; */
  padding: 20px;
  flex-wrap: wrap;
  position: relative;
}
.contain .cardcontainer {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 15px;
  overflow: hidden;
  background: #fff;
  transition: 0.5s;
  border-radius: 20px;
  box-shadow: 0 15px 25px rgb(36, 20, 13);
}
.contain .cardcontainer .circle {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fcb045;
  clip-path: circle(120px at center 0);
  text-align: center;
}
.contain:hover .cardcontainer {
  transform: scale(0.9);
  opacity: 0.5;
}
.contain .cardcontainer:hover {
  transform: scale(1.1);
  opacity: 1;
}
.contain .cardcontainer .circle h3 {
  padding: 30px 0;
  color: #fff;
  text-align: center;
}
.contain .cardcontainer .content {
  position: absolute;

  bottom: 10px;
  text-align: center;
  width: 100%;
}
.contain .cardcontainer .content button {
  position: relative;
  display: inline-block;
  background: rgba(252, 176, 69, 1);
  padding: 10px 20px;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  margin-top: 20px;
  bottom: 10px;
  text-decoration: none;
}
.contain .cardcontainer .content p {
  color: #666;
  font-size: 0.8em;
}
.teamprofcardcontainer {
  width: 418px;
  height: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow-y: auto;
}

.teamprofcardcontainer h2 {
  text-align: center;
}

.profileitems {
  list-style-type: none;
}
.listitems {
  width: 300px;
  font-size: 19px;
  box-shadow: #833ab4;
  font-style: oblique;
}
.projectlist {
  margin-left: 48px;
}
.close {
  font-size: 22px;

  margin: 8px;

  margin-left: 95%;
}
